include index.pug
div
    div.container.px-4.px-lg-5
        div.m-3.border.border-dark.border-1.bg-light.rounded-3
            h2.m-3.text-center BRAK DANYCH DO WYŚWIETLENIA
            p.m-3.fw-bold.text-center 
                em Sprawdź czy nie podałeś błędnych danych i spróbuj uzyskać dostęp ponownie lub skontaktuj się z pracownikiem socjalnym.

            div.d-grid.gap-2.d.md-flex.justify-content-md-end.m-3.form 
                a(href=link class="btn btn-outline-secondary form mb-3") POWRÓT
include footer.pug
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js") 
script(src="/js/utils.js") 
script(src="/js/auth.js")