include index.pug
div(id="message-container-dismiss-auth" style="display: none;")
    div.container.px-4.px-lg-5.mb-5
        div.m-3.border.border-dark.border-1.bg-light
            h2.m-3.text-center NIEWYPEŁNIONE WSZYSTKIE WYMAGANE POLA
            p.m-3.fw-bold.text-center 
                em Uzupełnij wszystkie pola i spróbuj uzyskać dostęp ponownie lub wróc do 
                |
                a(href="/") strony głównej.

div(id="message-container-get-auth" style="display: block;")
    div.container.px-4.px-lg-5.mb-5
        div.m-3.border.border-dark.border-1.bg-light
            h2.m-3.text-center SEKCJA DLA PRACOWNIKÓW
            p.m-3.fw-bold.text-center 
                em Podaj swoje imię, nazwisko oraz 3 ostatnie cyfry z numeru PESEL do poniższego formularza.
                
div.container.px-4.px-lg-5.mb-5
    div(class="input-group mb-3")
            input(type="text" class="form-control ms-3 bg-light" id="fname" placeholder="Wpisz swoje IMIĘ")
            input(type="text" class="form-control  bg-light" id="sname" placeholder="Wpisz swoje NAZWISKO")
            input(type="text" class="form-control  bg-light" id="lastThree" placeholder="Wpisz 3 OSTANIE CYFRY NR PESEL")
            a(href=link id="check-btn-auth" class="btn btn-secondary me-3" type="button") UZYSKAJ DOSTĘP

include footer.pug
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js") 
script(src="/js/data.js") 
script(src="/js/client.js") 
script(src="/js/utils.js") 
script(src="/js/auth.js")