include index.pug
div.d-grid.gap-2.col-6.mx-auto
    a(class="btn btn-outline-secondary" href="/dodaj/news" role="button") Dodaj aktualności 
    a(class="btn btn-outline-secondary" href="/dodaj/baza" role="button") Dodaj bazę
    a(class="btn btn-outline-secondary" href="/" role="button") Powrót do strony głównej
    br
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js") 
include footer.pug