include index.pug
div.container.px-4.px-lg-5.mb-5
    h4.text-center.mb-4.text-black-50 Co chesz zrobić?
    div.row.gx-4.gx-lg-5.justify-content-center.m-2
        a(class="btn btn-outline-secondary" href="/zarzadzaj/news" role="button") Zarządzaj aktualnościami 
    div.row.gx-4.gx-lg-5.justify-content-center.m-2
        a(class="btn btn-outline-secondary" href="/baza" role="button") Zarządzaj bazą
    div.row.gx-4.gx-lg-5.justify-content-center.m-2
        a(class="btn btn-outline-secondary border border-5" href="/" role="button") Powrót do strony głównej
        br
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js") 
include footer.pug