include index.pug
div(class="mx-auto" id="alert-name-salary" style="width: 700px; display: none;")
    div.container.px-4.px-lg-5
        div.row.gx-4.gx-lg-5.justify-content-center.mb-3
            div.col-md-10.col-lg-8.col-xl-12.border.border-dark.border-1.bg-light
                p.fw-bold.text-center.m-3 Nie zostało uzupełnione pole 
                    | 
                    em "imię i nazwisko" lub "komórka organizacyjna" lub "dochód brutto". 
                div.d-grid.gap-2.col-6.mx-auto 
                    a(class="btn btn-outline-secondary m-3" id="confirm-btn" role="button") Ok

div(class="mx-auto" id="alert-purpose" style="width: 700px; display: none;")
    div.container.px-4.px-lg-5
        div.row.gx-4.gx-lg-5.justify-content-center.mb-3
            div.col-md-10.col-lg-8.col-xl-12.border.border-dark.border-1.bg-light
                p.fw-bold.text-center.m-3 Nie zaznaczono  
                    | 
                    em celu dofinansowania w sekcji I
                div.d-grid.gap-2.col-6.mx-auto 
                    a(class="btn btn-outline-secondary m-3" id="confirm-btn" role="button") Ok

div(class="mx-auto" id="alert-kids" style="width: 700px; display: none;")
    div.container.px-4.px-lg-5
        div.row.gx-4.gx-lg-5.justify-content-center.mb-3
            div.col-md-10.col-lg-8.col-xl-12.border.border-dark.border-1.bg-light
                p.fw-bold.text-center.m-3 Nie zostało uzupełnione pole
                    | 
                    em "imię i nazwisko dziecka" lub "data urodzenia dziecka" w sekcji I
                div.d-grid.gap-2.col-6.mx-auto 
                    a(class="btn btn-outline-secondary m-3" id="confirm-btn" role="button") Ok

div(class="mx-auto" id="alert-kids-quantity" style="width: 700px; display: none;")
    div.container.px-4.px-lg-5
        div.row.gx-4.gx-lg-5.justify-content-center.mb-3
            div.col-md-10.col-lg-8.col-xl-12.border.border-dark.border-1.bg-light
                p.fw-bold.text-center.m-3 Nie zostało uzupełnione lub podano błędną wartość pola
                    | 
                    em "wpisz liczbę dzieci" w sekcji II
                div.d-grid.gap-2.col-6.mx-auto 
                    a(class="btn btn-outline-secondary m-3" id="confirm-btn" role="button") Ok

div(class="mx-auto" id="alert-kids-camp" style="width: 700px; display: none;")
    div.container.px-4.px-lg-5
        div.row.gx-4.gx-lg-5.justify-content-center.mb-3
            div.col-md-10.col-lg-8.col-xl-12.border.border-dark.border-1.bg-light
                p.fw-bold.text-justify.m-3 Zaznaczono formę wypoczynku w sekcji I - "Zorganizowany w formie obozu, kolonii, półkolonii, zielonej szkoły wypoczynek mojego dziecka".
                    | 
                    em Zaznacz pole "Dzieci" w sekcji II lub zmień formę wypoczynku na "Różne formy wypoczynku organizowanego we własnym zakresie."
                div.d-grid.gap-2.col-6.mx-auto 
                    a(class="btn btn-outline-secondary m-3" id="confirm-btn" role="button") Ok

div(id="person-container" style="display: block;")
    div.m-3.border.border-dark.border-1.bg-light
        h2.m-3.text-center Instrukcja wypełnienia WNIOSKU O DOFINANSOWANIE
        p.m-3.fw-bold 
            em 1. Wniosek można wypełnić z opcją autouzupełnienia danych - wystarczy uzupełnić poniższe dane oraz kliknąć "WYSZUKAJ SWÓJ WNIOSEK". 
        p.m-3.fw-bold 
            em 2. Po kliknięcu "WYSZKUKAJ SWÓJ WNIOSEK" wyświelti się gotowy i wstępnie uzupełniony formularz. Należy go wypełnić.
        p.m-3.fw-bold  
            em 3. Następnie należy wniosek wygenerować (PDF), wydrukować (klikając na samym dole w przycisk "WYDRUKUJ WNIOSEK I PODPISZ") i podpisać.
        p.m-1.ms-5
            em (NIEREKOMENDOWANE) Wniosek można wypełnić bez opcji autouzupełnienia danych - wystarczy wtedy kliknąć "WYSZUKAJ SWÓJ WNIOSEK".  
        p.m-1.ms-5
            em (NIEREKOMENDOWANE) Wniosek można wypełnić także odręcznie pobierając wniosek i drukując - 
            |
            span 
                a(href="/regulamin-zasady-wnioski") KLIKNIJ TUTAJ
        p.m-3.mb-1.fw-bold UWAGI TECHNICZNE:
        p.m-1.ms-5.mb-3 
            em Rekomendowana przeglądarka do uzupełnienia wniosku - Google Chrome. Nierekomendowana - Mozilla Firefox.

        p.m-1.ms-5 1. W przypadku problemów z autouzupełnieniem wniosku należy chwilę odczekać, aż pobiorą się dane (maksymalnie do 30 sekund).
        p.m-1.ms-5 2. W przypadku braku pobrania danych należy odświeżyć stronę, ponownie wpisać dane (sprawdzając wcześniej ich poprawność) i wyszukać. 
        p.m-1.ms-5 3. W razie problemów z wygenerowaniem wniosku w formacie PDF należy odświeżyć stronę lub zmienić przeglądarkę na inną.  
        p.m-1.ms-5.mb-3 4. W przypadku wystąpienia innych problemów należy skontaktować się z pracownikiem socjalnym -
            | 
            span
                a(href="/kontakt" target="blank") KLIKNIJ TUTAJ 

    div(class="input-group mb-3")
        input(type="text" class="form-control ms-3 bg-light" id="fname" placeholder="Wpisz swoje IMIĘ")
        input(type="text" class="form-control  bg-light" id="sname" placeholder="Wpisz swoje NAZWISKO")
        input(type="text" class="form-control  bg-light" id="lastThree" placeholder="Wpisz 3 OSTANIE CYFRY NR PESEL")
        button(id="check-btn" class="btn btn-secondary me-3" type="button") Wyszukaj swój wniosek

div(class="mx-auto" id="full-form" style="width: 1200px;")
    form(id="form-printable" class="formularz" style="display: none;")
        div.m-3.row
            div.col
                div(id="id-container" class="m-3 form-field")
                    a(href="https://www.spsk4.lublin.pl/" target="blank")
                        img(src="../../assets/img/SPSK4_logo_i_nazwa.png")
                        br

            div.col
                div(id="id-container" class="m-3 form-field")
                    input(type="text" class="form-control" id="id" readonly style="font-size: 20px;")  

        div(id="form-container" class="m-3")
            h3.text-center Wniosek o przyznanie dofinansowania z ZFŚS w roku #{getYearDate()}
            div
                div.input-group.my-3
                    span.input-group-text.fw-bold Imię i nazwisko
                    input(type="text" class="form-control" id="name" style="height: 50px; font-size: 25px;")
                div.input-group.my-3
                    span.input-group-text.fw-bold Komórka organizacyjna (Oddział/Dział)
                    input(type="text" class="form-control" id="unit" style="height: 50px; font-size: 25px;")
            
            div.border.border-dark.mb-2
                div.m-3.form.field
                    label(for="application" class="form-label fw-bold") I. Wnoszę o przyznanie dopłaty do wypoczynku, którą przeznaczę na (proszę zaznaczyć właściwą rubrykę):
                    div(class="mx-3 form-check" id="application-own-div")
                        input(type="checkbox" class="form-check-input" id="application-own")
                        | 
                        label(for="application-own" class="form-check-label") 1. Różne formy wypoczynku organizowanego we własnym zakresie.
                    div(class="m-3 form-check" id="application-kids-div")
                        input(type="checkbox" class="form-check-input" id="application-kids")
                        | 
                        label(for="application-kids" class="form-check-label") 2. Zorganizowany w formie obozu, kolonii, półkolonii, zielonej szkoły wypoczynek mojego dziecka:
                            div.form-field.mt-3
                                div.row
                                    div.input-group.col
                                        span.input-group-text.fw-bold 1.
                                        input(id="to-check-input-name" type="text" class="form-control bg-white col" value="" style="font-size: 20px;")
                                    div.input-group.col
                                        span.input-group-text.fw-bold Data urodzenia
                                        input(id="to-check-input-date" type="date" class="form-control bg-white col" style="font-size: 20px;")
                                div.row
                                    div.input-group.col
                                        span.input-group-text.fw-bold 2.
                                        input(type="text" class="form-control bg-white col" value="" style="font-size: 20px;")
                                    div.input-group.col
                                        span.input-group-text.fw-bold Data urodzenia
                                        input(type="date" class="form-control bg-white col" value="" style="font-size: 20px;")  
                                div.row
                                    div.input-group.col
                                        span.input-group-text.fw-bold 3.
                                        input(type="text" class="form-control bg-white col" value="" style="font-size: 20px;")
                                    div.input-group.col
                                        span.input-group-text.fw-bold Data urodzenia
                                        input(type="date" class="form-control bg-white col" value="" style="font-size: 20px;")
            
            div.border.border-dark.mb-2  
                div.m-3.form-field
                    label(for="statement-family" class="form-label fw-bold") II. Oświadczam, że w dniu złożenia oświadczenia w skład mojej rodziny wchodziły następujące osoby: 
                    div.mx-3.form-check
                        input(type="checkbox" value="" class="form-check-input" id="statement-consort")
                        | 
                        label(for="statement-consort" class="form-check-label") Współmałżonek
                div.row.mx-3        
                    div.mx-3.form-check.col
                        input(type="checkbox" value="" class="form-check-input" id="statement-kids")
                        | 
                        label(for="statement-kids" class="form-check-label") Dzieci
                    div(class="input-group col invisible mb-2" id="statement-kids-quantity")
                        span.input-group-text.fw-bold Wpisz liczbę dzieci:  
                        input(type="number" class="form-control" id="statement-kids-quantity-input" value="" style="font-size: 20px;")
                    div.mx-3.col

            div.border.border-dark.mb-2
                div.m-3
                    a(href="/faq" target="blank" class="fw-bold") III. Oświadczam, że miesięczny dochód brutto na jedną osobę wynosi:*
                    div.input-group.my-3
                        span.input-group-text.fw-bold Dochód brutto
                        input(type="number" class="form-control bg-white" id="statement-salary" style="height: 75px; font-size: 25px;")
            
            div.border.border-dark.mb-2
                div.m-3
                    a(href="/faq" target="blank" class="fw-bold") IV. Oświadczam, że podane powyżej dane są prawdziwe. Jestem świadomy odpowiedzialności karnej za złożenie oświadczenia niezgodnego z prawdą.* 
                div.m-3
                    a(href="/rodo" target="blank" class="fw-bold") V. Oświadczam, że wyrażam zgodę na przetwarzanie moich danych osobowych dla potrzeb niezbędnych do uzyskania świadczeń z Zakładowego Funduszu Świadczeń Socjalnych.**   
                    div.input-group.my-3
                        span.input-group-text.fw-bold Data i podpis pracownika
                        input(type="text" class="form-control bg-white" id="sign-employee" readonly style="height: 75px;")
            
            div.border.border-dark.border-1.bg-light
                    h5.text-center.mt-3 Wypełnia pracownik Działu Kadr i Płac
                    div.row
                        div(class="input-group my-3 col" style="height: 45px;")
                            span.input-group-text.fw-bold Wniosek nr
                            input(type="text" class="form-control bg-white col" id="application-number" readonly style="font-size: 25px;")
                        div(class="input-group my-3 col" style="height: 45px;")
                            span.input-group-text.fw-bold Lublin, dn.
                            input(type="text" class="form-control bg-white col" id="application-date" readonly style="font-size: 25px;")
                    div
                        h5.text-center Powyższy pracownik spełnia warunki do przyznania dofinansowania do wypoczynku w 2022 roku.
                    div.input-group.my-3
                        span.input-group-text.fw-bold Na podstawie dochodu na 1 członka rodziny ustala się dotację w wysokości:  
                        input(type="text" class="form-control bg-white" id="application-value" readonly style="height: 75px; font-size: 25px;")
                    div.input-group.my-3
                        span.input-group-text.fw-bold Podpis pracownika Działu Kadr i Płac
                        input(type="text" class="form-control bg-white" id="sign-hr" readonly style="height: 100px;")

            div.m-3
                h6.my-3.mt-4 *Podanie nieprawdziwych danych, poświadczenie nieprawdy może być powodem odpowiedzialności karnej, na podstawie art. 286 § 1 i 3 Kodeksu Karnego i może podlegać karze grzywny, karze ograniczenia wolności lub pozbawienia wolności.
                h6.my-3.mb-4 **Klauzula RODO - www.zfss-spsk4-lublin.pl/rodo

                    
    div.d-grid.gap-2.d.md-flex.justify-content-md-end.m-3.form
        button(id="submit-btn" class="btn btn-outline-secondary btn-lg form" style="display: none;") Wydrukuj wniosek i podpisz
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js") 
script(src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.3/html2canvas.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.0/jspdf.umd.min.js")  
script(src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer") 
script(src="/js/data.js") 
script(src="/js/client.js") 
script(src="/js/utils.js") 
script(src="/js/add-application.js")
include footer.pug 
