include index.pug
div.container.px-4.px-lg-5.mb-5
    h4.text-center.mb-4.text-black-50 Wybierz sekcję
    div.row.gx-4.gx-lg-5.justify-content-center.m-2
        a(class="btn btn-outline-secondary rounded-3" href="/wniosek" role="button") Wniosek o dofinansowanie z ZFŚŚ - formularz interaktywny
    div.row.gx-4.gx-lg-5.justify-content-center.m-2    
        a(class="btn btn-outline-secondary rounded-3" href="/faq" role="button") Sekcja FAQ - Odpowiedzi na najczęsciej zadawane pytania
    div.row.gx-4.gx-lg-5.justify-content-center.m-2 
        a(class="btn btn-outline-secondary rounded-3" href="/regulamin-zasady-wnioski" role="button") Regulamin, Zasady, stawki dofinansowań i pożyczek, druki do pobrania
    div.row.gx-4.gx-lg-5.justify-content-center.m-2
        a(class="btn btn-outline-secondary rounded-3" href="/rodo" role="button") Klauzula RODO
    div.row.gx-4.gx-lg-5.justify-content-center.m-2
        a(class="btn btn-outline-secondary rounded-3" href="/" role="button") Powrót do strony głównej
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js") 
include footer.pug