doctype html
html(lang="en")
head 
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="description" content="")
meta(name="author" content="")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
link(rel="icon" type="image/x-icon" href="assets/favicon.ico")
link(script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous")
link(href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css")
link(href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css")
link(link href="../../css/styles.css" rel="stylesheet")
title ZFŚS
body 
    nav(class="navbar navbar-expand-lg navbar-light" id="mainNav")
        div.container.px-4.px-lg-5
            button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation") Menu
                i.fas.fa-bars
            div(class="collapse navbar-collapse" id="navbarResponsive")
                ul.navbar-nav.mx-auto.py-4.py-lg-2 
                    li.nav-item 
                        a(class="nav-link px-lg-3 py-3 py-lg-4" href="/") Strona główna
                    li.nav-item 
                        a(class="nav-link px-lg-3 py-3 py-lg-4" href="/regulamin-zasady-wnioski") Regulamin, zasady, druki
                    li.nav-item 
                        a(class="nav-link px-lg-3 py-3 py-lg-4" href="/rodo") RODO
                    li.nav-item 
                        a(class="nav-link px-lg-3 py-3 py-lg-4" href="/obliczanie-dochodu") Jak obliczyć dochód?
                    li.nav-item 
                        a(class="nav-link px-lg-3 py-3 py-lg-4" href="/wniosek") Wniosek o dofinansowanie
                    li.nav-item 
                        a(class="nav-link px-lg-3 py-3 py-lg-4" href="/faq") FAQ
                    li.nav-item 
                        a(class="nav-link px-lg-3 py-3 py-lg-4" href="/kontakt") Kontakt

    header(class="masthead bg-info" style="background-image: url('../../assets/img/single-atom.jpg')")
        div.container.position-relative.px-4.px-lg-4
            div.row.gx-4.gx-lg-5.justify-content-center
                div.col-md-10.col-lg-8.col-xl-7
                    div.site-heading
                        h2 Zakładowy Fundusz Świadczeń Socjalnych
                        br
                        h5 Samodzielny Publiczny Szpital Kliniczny nr 4 w Lublinie
                        
