include index.pug  

div.container.px-4.px-lg-5
    h3.mx-3.text-center.border-bottom.mb-3 Witaj na stronie Zakładowego Funduszu Świadczeń Socjalnych

div(class="container px-4 px-lg-5 my-5")
    h5.text-center.text-danger Ważne informacje
    div.row.gx-4.gx-lg-5.justify-content-center.m-3.news

    h3.text-center.mb-3.mt-3 
    div.row.gx-4.gx-lg-5.justify-content-center.m-3
        a(href="/wniosek" class="btn btn-outline-secondary col-md-10 col-lg-8 col-xl-12 border border-5 rounded-3 border-danger")
            h3(class="text-center text-danger" style=display) Sekcja dostępna od #{date}
            br 
            h3.text-center Wniosek o dofinansowanie z ZFŚS
            p(class="text-center")
            em Przejdź bezpośrednio do wypełnienia interaktywnego formularza

div(class="container px-4 px-lg-5 mb-5")    
    h5.my-3.text-center Sekcje

    div.row.gx-4.gx-lg-5.justify-content-center.m-3
        a(href="/news" class="btn btn-outline-secondary col-md-10 col-lg-8 col-xl-12 mb-2 border border-5 rounded-3")
            h3.text-center Aktualności
            p.text-center 
            em Komunikaty i aktualne informacje dotyczące Zakładowego Funduszu Świadczeń Socjalnych

    div.row.gx-4.gx-lg-5.justify-content-center.m-3
        a(href="/sekcja-pracownik" class="btn btn-outline-secondary col-md-10 col-lg-8 col-xl-12 mb-2 border border-5 rounded-3")
            h3.text-center Sekcja dla pracownika
            p
            em Zapoznaj się informacjami dotyczącymi ZFŚŚ, m.in. zobacz odpowiedzi na najczęściej zadawane pytania, zapoznaj się z Regulaminem ZFŚŚ oraz innymi dokumentami dotyczącymi Funduszu Socjalnego, pobierz odpowiedni druk lub wniosek lub poznaj w jakim zakresie będą przetwarzane Twoje dane osobowe.
        
    div.row.gx-4.gx-lg-5.justify-content-center.m-3
        a(href="/kontakt" class="btn btn-outline-secondary col-md-10 col-lg-8 col-xl-12 mb-4 border border-5 rounded-3")
            h3.text-center Kontakt z pracownikiem socjalnym
            p.text-center 
            em Masz pytania? Skontaktuj się z pracownikiem socjalnym

                        
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js")
script(src="/js/client.js") 
script(src="/js/utils.js") 
script(src="/js/main.js") 
include footer.pug 
