include index.pug  
div.container.px-4.px-lg-5
    div.row.gx-4.gx-lg-5.justify-content-center.mb-3
        div.col-md-10.col-lg-8.col-xl-12.border.border-dark.border-1.bg-light
            h3.text-center.m-3 Najczęściej zadawane pytania
            p.text-center 
                em Odpowiedzi na najczęściej zadawane pytania dostępne są w zakładce
                | 
                a(href="/faq")
                    strong FAQ

    div.row.gx-4.gx-lg-5.justify-content-center.mb-3 
        div.col-md-10.col-lg-8.col-xl-12.border.border-dark.border-1.bg-light
            h3.text-center.m-3 Wniosek o dofinansowanie z ZFŚS
            p.text-center 
                em Jeśli chcesz wypełnić wniosek poprzez formularz internetowy przejdź do zakładki
                | 
                a(href="/wniosek")
                    strong WNIOSEK O DOFINANSOWANIE

    div.row.gx-4.gx-lg-5.justify-content-center.mb-3 
        div.col-md-10.col-lg-8.col-xl-12.border.border-dark.border-1.bg-light
            h3.text-center.m-3 Regulamin ZFŚS, zasady, progi dochodowe, stawki pożyczek oraz druki wniosków
            p.text-center 
                em Regulamin, zasady, progi, stawki pożyczek oraz druki wniosków do wydruku dostępne w zakładce
                | 
                a(href="/regulamin-zasady-wnioski")
                    strong REGULAMIN, ZASADY, WNIOSKI

    div.row.gx-4.gx-lg-5.justify-content-center.mb-3 
        div.col-md-10.col-lg-8.col-xl-12.border.border-dark.border-1.bg-light
            h3.text-center.m-3 Jak obliczyć dochód?
            p.text-center 
                em Nie wiesz jak obliczyć dochód brutto na członka rodziny? Przejdź do zakładki
                | 
                a(href="/obliczanie-dochodu")
                    strong JAK OBLICZYĆ DOCHÓD?

    div.row.gx-4.gx-lg-5.justify-content-center.mb-3 
        div.col-md-10.col-lg-8.col-xl-12.border.border-dark.border-1.bg-light
            h3.text-center.m-3 Klauzula RODO
            p.text-center 
                em Chcesz wiedzieć w jakim zakresie będą wykorzystywane Twoje dane osobowe? Przejdź do zakładki
                | 
                a(href="/rodo")
                    strong RODO
    
    div.row.gx-4.gx-lg-5.justify-content-center.mb-3 
        div.col-md-10.col-lg-8.col-xl-12.border.border-dark.border-1.bg-light
            h3.text-center.m-3 Kontakt z pracownikiem socjalnym
            p.text-center 
                em Masz pytania? Skontaktuj się z pracownikiem socjalnym przechodząc do zakładki
                | 
                a(href="/kontakt")
                    strong KONTAKT
                    
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js")
