include index.pug  

div.container.px-4.px-lg-5
    h3.m-3.text-center.border-bottom Witaj na stronie Zakładowego Funduszu Świadczeń Socjalnych

    h5.m-5.text-center.border-bottom Sekcje:
    div.row.gx-4.gx-lg-5.justify-content-center.mb-3
        a(href="/wniosek" class="btn btn-outline-secondary col-md-10 col-lg-8 col-xl-12 mb-2")
            h3.text-center Wniosek o dofinansowanie z ZFŚS
            p.text-center 
            em Przejdź do wypełnienia interaktywnego formularza

    div.row.gx-4.gx-lg-5.justify-content-center.mb-3
        a(href="/regulamin-zasady-wnioski" class="btn btn-outline-secondary col-md-10 col-lg-8 col-xl-12 mb-2")
            h3.text-center Regulamin ZFŚS, zasady, progi dochodowe, stawki pożyczek oraz druki
            p.text-center 
            em Przejdź do sekcji ze wszelkimi dokumentami oraz drukami dotyczącymi Zakładowego Funduszu Świadczeń Socjalnych

    div.row.gx-4.gx-lg-5.justify-content-center.mb-3
        a(href="/rodo" class="btn btn-outline-secondary col-md-10 col-lg-8 col-xl-12 mb-2")
            h3.text-center Klauzula RODO
            p.text-center 
            em Dowiedz się w jakim zakresie będą wykorzystywane Twoje dane osobowe

    div.row.gx-4.gx-lg-5.justify-content-center.mb-3
        a(href="/faq" class="btn btn-outline-secondary col-md-10 col-lg-8 col-xl-12 mb-2")
            h3.text-center Najczęściej zadawane pytania
            p.text-center 
            em Zobacz odpowiedzi na najczęściej zadawane pytania
        
    div.row.gx-4.gx-lg-5.justify-content-center.mb-3
        a(href="/kontakt" class="btn btn-outline-secondary col-md-10 col-lg-8 col-xl-12 mb-2")
            h3.text-center Kontakt z pracownikiem socjalnym
            p.text-center 
            em Masz pytania? Skontaktuj się z pracownikiem socjalnym

                        
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js")
include footer.pug 
