include index.pug
div.border.border-dark.border-1.bg-light.m-3    
            div.m-3.form.field
                p Za dochód brutto uznaje się sumę wszystkich dochodów pracownika i członków rodziny pracownika za rok poprzedni z tytułu: wynagrodzeń za pracę, działalności gospodarczej, emerytury, renty, zasiłków, umów cywilno-prawnych, pracy za granicą, innych świadczeń pieniężnych, itp.
                p Wyliczenie dochodu brutto na jednego członka rodziny odbywa się poprzez zsumowanie wszystkich dochodów rocznych członków rodziny i podzieleniu ich przez 12 miesięcy, a następnie podzieleniu wychodzącej kwoty przez wszystkich członków rodziny tj.
                h3 SUMA DOCHODÓW : 12 MIESIĘCY : ILOŚĆ CZŁONKÓW RODZINY = DOCHÓD NA 1 OSOBĘ 
                p.fw-bold Podanie nieprawdziwych danych, poświadczenie nieprawdy może być powodem odpowiedzialności karnej, na podstawie art. 286 § 1 i 3 Kodeksu Karnego i może podlegać karze grzywny, karze ograniczenia wolności lub pozbawienia wolności.
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js") 
include footer.pug 