include index.pug
div(class="hidden-form") 
  div.m-3
    p.fw-bold Pamiętaj, żeby zachować właściwy format pliku excel: zachować format zgodny z mongoose model schema, brak spacji i kropek w etykietach wierszy, brak pustych komórek, brak duplikatów w nrprac. To chyba tyle.
  div(class="mx-auto" style="width: 500px;" id="password")
    label(for="password" class="form-label") Podaj hasło w celu załadowania pliku
    input(type="password" class="form-control" id="password-input" placeholder="Hasło")
  div(class="mx-auto" style="width: 500px;")
    label(for="formFile" class="form-label")
    input(class="form-control" type="file" id="form-file")
  div(class="mx-auto" style="width: 500px;")
    a(href="/" id="send-file" class="btn btn-primary mx-auto mt-3 mb-3" style="width: 500px;") Wyślij plik z danymi w formacie xls 
br


script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.min.js")
script(src="/js/data.js") 
script(src="/js/client.js") 
script(src="/js/utils.js") 
script(src="/js/post-data.js") 
include footer.pug 