include index.pug
div.container.px-4.px-lg-5
    div.row.gx-4.gx-lg-5.justify-content-center.mb-3
        div.col-md-10.col-lg-8.col-xl-10
            h3.text-center.m-3 
            a(href="/assets/pdf/Wniosek o przyznanie dofinansowania z ZFŚS - nowa szata - 2020 z RODO.pdf" target="blank") 1. Regulamin Zakładowego Fundusz Świadczeń Socjalnych
        div.col-md-10.col-lg-8.col-xl-10
            h3.text-center.m-3 
            a(href="/assets/pdf/Wniosek o przyznanie dofinansowania z ZFŚS - nowa szata - 2020 z RODO.pdf" target="blank") 2. Regulamin Zakładowego Fundusz Świadczeń Socjalnych
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js") 