include index.pug
div.container.px-4.px-lg-5.mb-5
    div.m-3.form.field
        h5.text-center KLAUZULA INFORMACYJNA O PRZETWARZANIU DANYCH OSOBOWYCH W SPSK NR 4 W LUBLINIE DLA CELÓW UZYSKANIA ŚWIADCZEŃ Z ZAKŁADOWEGO FUNDUSZU ŚWIADCZEŃ SOCJALNYCH (ZFŚS)
        p Na  podstawie  art.  13  ust.1  i  2  Rozporządzenia  Parlamentu  Europejskiego  i  Rady  (UE) 2016/678  z  dnia  27  kwietnia  2016  r.  w  sprawie  ochrony  osób  fizycznych  w  związku  z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu tych danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych osobowych) - zwanego dalej Rozporządzeniem, informujemy, iż : 
            ol 
                li Administratorem Pani/Pana danych osobowych przetwarzanych w Szpitalu jest Samodzielny Publiczny Szpital Kliniczny Nr 4 w Lublinie, ul. Jaczewskiego 8, 20-954 Lublin.
                li Inspektorem ochrony danych osobowych w SPSK Nr 4 w Lublinie jest Pan Mieczysław Kowalski, tel. 81 72 44 810, mail: 	mieczyslaw.kowalski@spsk4.lublin.pl
                li Administrator danych osobowych przetwarza Pani/Pana dane osobowe na podstawie art. 6  i  art. 9  Rozporządzenia  oraz  krajowych  aktów prawnych, dotyczących przetwarzania danych osobowych.
                li Dane osobowe przetwarzane będą w celu udzielania Pani/Panu świadczeń socjalnych. 
                li W  związku  z  przetwarzaniem  danych  w  celach  o  których  mowa w  pkt.  4  odbiorcą Pani/Pana danych osobowych będą 	wyłącznie podmioty uprawnione do pozyskiwania takich danych, na mocy obowiązujących regulacji prawnych. 
                li Pani/Pana  dane  osobowe  będą  przechowywane przez okres wymagany przez  instrukcję kancelaryjną oraz inne akty prawne 	dotyczące archiwowania danych. 
                li W  związku  z  przetwarzaniem  Pani/Pana  danych  osobowych  przysługuje  Pani/Panu prawo  dostępu  do  treści  swoich  	danych,  do  ich  sprostowania, usunięcia,  ograniczenia  ich przetwarzania i przenoszenia,  a  także   prawo   do   wniesienia   	sprzeciwu,   oraz   inne uprawnienia w tym zakresie wynikające z obowiązujących przepisów prawa, 
                li W  przypadku  powzięcia  informacji  o  niezgodnym  z  prawem  przetwarzaniu danych osobowych  w  jednostce  przysługuje  	Pani/Panu  prawo  wniesienia  skargi  do  Urzędu Ochrony Danych Osobowych. 
                li Podanie przez Panią/Pana danych osobowych warunkuje udzielenie świadczeń socjalnych z ZFŚS.  
                li Pani/Pana dane nie będą przetwarzane w sposób  zautomatyzowany i nie będą profilowane.
            
        div.d-grid.gap-2.d.md-flex.justify-content-md-end.m-3.form 
            a(href="/sekcja-pracownik" class="btn btn-outline-secondary form mb-3") POWRÓT

script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js") 
include footer.pug 